@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.valk.sh/jbmono.woff") format('woff');
}

html,
body {
    background: #000;
    text-align: center;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    height: 99%;
    width: 100%;
}

.btn {
    text-decoration: none;
    color: #fff;
    margin: 6px;
    padding: 8px 16px;
    border: 1px solid #222;
    border-radius: 4px;
    transition: background-color 250ms ease-in-out;
    font-size: 18px;
    background-color: #000;
    white-space: nowrap;
}

.btn:hover {
    background-color: #111
}

.btn:active {
    background-color: #222
}

.menu {
    padding: 1%;
    font-size: 200%;
    justify-content: center;
    white-space: nowrap;
}

.droparea {
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.block {
    display: block;
}

.dropping {
    color: aqua;
    border: aqua;
    border-radius: 1%;
    border-style: dashed;
}

.dropfailed {
    color: red;
    border: red;
    border-radius: 1%;
    border-style: dashed;
}